@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
/* global rules */

:root{
    --line-border-fill: #3498db;
    --line-border-empty:#e0e0e0;
}
*{
    box-sizing: border-box; 
    /* set box-sizing to boder-box, so that if we add any padding or any border on to an element, it doesn't affect the width of it  */
}
body{
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex; /*to center of everything*/
    align-items: center; /*Align items horizontally*/
    justify-content: center; /*Center align vertically*/
    height: 100vh; /*Without height justify-content won't work 100vh means take entire height of the viewport*/
    overflow: hidden; /*Don't display scroll bar by default*/
    margin:0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content:''; /*with before or after sudo selectors we have to use content property otherwise the element won't be displayed*/
    background-color: var(--line-border-empty);
    position: absolute;
    top:50%; /*to position the line verticallyin the middle of the row*/
    left:0;
    transform:translateY(-50%); /*to put the middle of the line int the middle of the row*/
    height: 5px;
    width:100%;
   z-index: -1;/*to keep the line behind the circles/numbers*/
    
}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top:50%; /*to position the line verticallyin the middle of the row*/
    left:0;
    transform:translateY(-50%); /*to put the middle of the line int the middle of the row*/
    height: 5px;
    width:0%;
   z-index: -1;/*to keep the line behind the circles/numbers*/
    transition: 0.4s ease;
}

.circle{
    background-color: #fff;
    color:#999;
    border-radius: 50%;
    height:30px;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid  var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
    background-color: var(--line-border-fill);
    color:#fff;
}

.btn{
    background-color:  var(--line-border-fill);
    color: #fff;
    border:0;
    border-radius: 6px;
    font-family: inherit;
    padding: 8px 30px;
    margin:5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline:0;
     
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor:not-allowed;
}

