@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* global rules */

*{
    box-sizing: border-box; 
    /* set box-sizing to boder-box, so that if we add any padding or any border on to an element, it #doesn't affect the width of it  */
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex; /*to center of everything*/
    flex-direction: column; /*Put elements in vertical */
    align-items: center; /*Align items horizontally*/
    justify-content: center; /*Center align vertically*/
    height: 100vh; /*Without height justify-content won't work 100vh means take entire height of the viewport*/
    overflow: hidden; /*Don't display scroll bar by default*/
    margin:0;
}